<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /rivet-studio/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /rivet-studio/index.html [L]
</IfModule>